In [1]:
print('Hello Manindar')

Hello Manindar

In [ ]:
# Task 1

In [1]:
%config IPCompleter.greedy=True

In [ ]:
## Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [61]:
#mylist= list(range(2000,3201))
mylist= list(range(2000,3201,7))
for x in mylist:
   # if(x%7 == 0 and x%5 !=0):  
     if(x%5 !=0): 
        print(x,end=',')

2007,2014,2021,2028,2042,2049,2056,2063,2077,2084,2091,2098,2112,2119,2126,2133,2147,2154,2161,2168,2182,2189,2196,2203,2217,2224,2231,2238,2252,2259,2266,2273,2287,2294,2301,2308,2322,2329,2336,2343,2357,2364,2371,2378,2392,2399,2406,2413,2427,2434,2441,2448,2462,2469,2476,2483,2497,2504,2511,2518,2532,2539,2546,2553,2567,2574,2581,2588,2602,2609,2616,2623,2637,2644,2651,2658,2672,2679,2686,2693,2707,2714,2721,2728,2742,2749,2756,2763,2777,2784,2791,2798,2812,2819,2826,2833,2847,2854,2861,2868,2882,2889,2896,2903,2917,2924,2931,2938,2952,2959,2966,2973,2987,2994,3001,3008,3022,3029,3036,3043,3057,3064,3071,3078,3092,3099,3106,3113,3127,3134,3141,3148,3162,3169,3176,3183,3197,

In [ ]:
## Write a Python program to accept the user's first and last name and then getting them printed in
## the the reverse order with a space between first name and last name.

In [56]:
first_name = input('Enter your first name :')
last_name = input('Enter your last name : ')
print('The reverse order of your name is : {} {}'.format(last_name, first_name))

Enter your first name :Manindar
Enter your last name : Suna
The reverse order of the name is : Suna Manindar

In [ ]:
# Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [5]:
d=12
r=d/2
v=4/3*3.14*r**3
print('The volume of sphere having diameter 12 is : {}'.format(v))

The volume of sphere having diameter 12 is : 904.3199999999999

In [6]:
# Task 2

In [7]:
# Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [24]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('List : ',list)

Input some comma seprated numbers : 2,4,6,7,3,9,1,2
List :  ['2', '4', '6', '7', '3', '9', '1', '2']

In [3]:
# Create the below pattern using nested for loop in Python.
#            *
#            * *
#            * * *
#            * * * *
#            * * * * *
#            * * * *
#            * * *
#            *

In [60]:
for i in range (0, 5):
    for j in range(0, i + 1):
        print('*', end=' ')
    print('\r')
for i in range (5, 0, -1):
    for j in range(0, i -1):
        print('*', end=' ')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [67]:
word=input('Input word : ')
outputword= word[::-1]
print('Output word : {}'.format(outputword))

Input word : Manindar
Output word : radninaM

In [69]:
word=input('Input word : ')
outputword= reversed(word)
print(outputword)

Input word : mani
<reversed object at 0x000002715DFFF248>

In [1]:
#WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
#SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
#its citizens

In [9]:
print('WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved to constitute India into a SOVEREIGN,' + '!' + '\n \t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t\t\t and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN,!
 		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 			 and to secure to all its citizens